<center> <h1> 06.- CONJUNTOS DE ELEMENTOS </h1> </center>

<h2> Tuplas: $tuple$: </h2>

Las $tuplas$ son un tipo de estructura de datos en la cual los elementos de la colección no se pueden modificar (son $inmutables$). Las $tuplas$ se definen entre paréntesis $(\:)$, y pueden contener diferentes tipos de datos.

In [46]:
a = (12, 12.5, -10, 'Si', 'No', [1,2], [[1,2],[2,1]])

In [47]:
# Elementos de la tupla "a"
print(a)
print(type(a))

(12, 12.5, -10, 'Si', 'No', [1, 2], [[1, 2], [2, 1]])
<class 'tuple'>

In [13]:
# Elemento de la tupla "a" en la posición 0
a[0]

12

In [14]:
# Elemento de la tupla "a" en la posición 3
a[3]

'Si'

In [16]:
# Elemento de la tupla "a" en la posición 6
a[6]

[[1, 2], [2, 1]]

In [19]:
# Elementos de la tupla "a" desde la posición 0 hasta la posición 3
a[0:3]

(12, 12.5, -10)

In [20]:
# Elementos de la tupla "a" a partir de la posición 3
a[3:]

('Si', 'No', [1, 2], [[1, 2], [2, 1]])

In [21]:
# Las tuplas no se pueden modificar
a[3] = 'NO'

TypeError: 'tuple' object does not support item assignment

In [22]:
# Longitud o número de elementos de la tupla "a"
len(a)

7

In [26]:
# Longitud del elemento que se encuentra en la posición 6 de la tupla "a"
len(a[6])

2

In [27]:
# En qué posición de la tupla "a" se encuentra el elemento No
a.index('No')

4

In [34]:
# Contar cuántos elementos "-10" hay en la tupla "a"
a.count(-10)

1

In [32]:
# De qué tipo es el elemento que está en la posición 0
type(a[0])

int

In [47]:
# De qué tipo es el elemento que está en la posición 3
type(a[3])

str

In [36]:
# De qué tipo es el elemento que está en la posición 6
type(a[6])

list

<h2> Conjuntos: $set$ </h2>

Los $conjuntos$ son una estructura de datos que consiste en una $colección\:desordenada$, su utilidad es hacer la comprobación de pertenencia a los grupos y la eliminación de los elementos duplicados. Los conjuntos se definen entre llaves ${}$. 

Un conjunto puede contener distintos tipos de datos como $str$, $float$, $int$, $array$.

In [43]:
# Se definen {entre llaves}
x = {7, 5, 3.1416, 9, 'Rafiki', 'Juanmi'}

In [45]:
# Siempre se imprimen de manera ordenada
print(x)
print(type(x))

{3.1416, 5, 7, 9, 'Rafiki', 'Juanmi'}
<class 'set'>

In [45]:
# Si agregamos elementos siguen apareciendo de manera ordenada, el comando ".add()" 
# agrega el dato contenido en el paréntesis a la variable asignada antes del punto
x.add(1)
x.add(10)
x.add(50)
x.add('Alva')
x.add('Zopilote')
x

{1, 10, 3.1416, 5, 50, 7, 9, 'Alva', 'Juanmi', 'Rafiki', 'Zopilote'}

In [50]:
# Verificar si el elemento Alva pertenece al conjunto "x"
'Alva' in x

True

In [52]:
# Verificar si el elemento 3.1416 pertenece al conjunto "x"
3.1416 in x

True

In [53]:
# Verificar si el elemento Rafa pertenece al conjunto "x"
'Rafa' in x

False

In [56]:
lista_prueba = [15,7,6,'hola',0,0,1,1,2,2,3,3,'rafa','rafa']
lista_prueba

[15, 7, 6, 'hola', 0, 0, 1, 1, 2, 2, 3, 3, 'rafa', 'rafa']

In [57]:
# Convertir la lista "lista_prueba" a una variable del tipo conjunto
conjunto_prueba = set(lista_prueba)
conjunto_prueba

{0, 1, 15, 2, 3, 6, 7, 'hola', 'rafa'}

In [60]:
cadena = 'Este es un elemento tipo cadena de caracteres que se convertirá a conjunto'
cadena

'Este es un elemento tipo cadena de caracteres que se convertirá a conjunto'

In [61]:
# Convertir la variable "cadena" de tipo "string" a una variable tipo "conjunto"
cadena_conjunto = set(cadena)
cadena_conjunto

{' ',
 'E',
 'a',
 'c',
 'd',
 'e',
 'i',
 'j',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'á'}

<h2> Diccionarios: $dict$: </h2>

Las variables tipo $diccionario$ ($dict$) también se definen entre llaves {}, pero a diferencia de los conjuntos, la colección de elementos se define por pares de elementos que eneralmente guardan ciertas relaciones.

Los pares de elementos dentro de los diccionarios se definen de la siguiente forma: 
- { $elemento_{1a}\::\:elenento_{1b}\:,\:elemento_{2a}\::\:elenento_{2b}\:...\:elemento_{na}\::\:elenento_{nb}$}

In [31]:
Rafa_dt = {'Nombre':'Rafael Valenzuela', 'Año de nacimiento':1993, 'Edad':27, 'Goles':3} 
Martha_dt = {'Nombre':'Martha Valenzuela', 'Año de nacimiento':2001, 'Edad':20, 'Goles':1}

In [32]:
print(Rafa_dt)
print(type(Rafa_dt))
print(Martha_dt)
print(type(Martha_dt))

{'Nombre': 'Rafael Valenzuela', 'Año de nacimiento': 1993, 'Edad': 27, 'Goles': 3}
<class 'dict'>
{'Nombre': 'Martha Valenzuela', 'Año de nacimiento': 2001, 'Edad': 20, 'Goles': 1}
<class 'dict'>

In [33]:
# Llamar un elemento asignado a otro elemento
print(Rafa_dt['Nombre'])
print(Rafa_dt['Año de nacimiento'])
print(Rafa_dt['Edad'])
print(Rafa_dt['Goles'])
print(Martha_dt['Nombre'])
print(Martha_dt['Año de nacimiento'])
print(Martha_dt['Edad'])
print(Martha_dt['Goles'])

Rafael Valenzuela
1993
27
3
Martha Valenzuela
2001
20
1

In [34]:
# Modificar elementos dentro del diccionario
Rafa_dt['Nombre'] = 'Rafael Valenzuela Rodríguez'
print(Rafa_dt)
Martha_dt['Nombre'] = 'Martha Mariana Valenzuela Rodríguez'
print(Martha_dt)

{'Nombre': 'Rafael Valenzuela Rodríguez', 'Año de nacimiento': 1993, 'Edad': 27, 'Goles': 3}
{'Nombre': 'Martha Mariana Valenzuela Rodríguez', 'Año de nacimiento': 2001, 'Edad': 20, 'Goles': 1}

In [35]:
# Eliminar elementos
del(Rafa_dt['Edad'])
print(Rafa_dt)
del(Martha_dt['Edad'])
print(Martha_dt)

{'Nombre': 'Rafael Valenzuela Rodríguez', 'Año de nacimiento': 1993, 'Goles': 3}
{'Nombre': 'Martha Mariana Valenzuela Rodríguez', 'Año de nacimiento': 2001, 'Goles': 1}

In [36]:
# Editar valores numéricos
Rafa_dt['Goles'] += 2
print(Rafa_dt)
Martha_dt['Goles'] += 5
print(Martha_dt)

{'Nombre': 'Rafael Valenzuela Rodríguez', 'Año de nacimiento': 1993, 'Goles': 5}
{'Nombre': 'Martha Mariana Valenzuela Rodríguez', 'Año de nacimiento': 2001, 'Goles': 6}

In [37]:
# Se puede interactuar con los valores de varios diccionarios
Rafa_dt['Goles'] + Martha_dt['Goles']

11

In [38]:
# Usar diccionarios con ciclo "for"
for info in Rafa_dt:
    print(info)

Nombre
Año de nacimiento
Goles

In [41]:
# Uso correcto para desplegar la info del diccionario con ciclo "for"
for info in Rafa_dt:
    print(info, Rafa_dt[info])

for info in Martha_dt:
    print(info, Martha_dt[info])

Nombre Rafael Valenzuela Rodríguez
Año de nacimiento 1993
Goles 5
Nombre Martha Mariana Valenzuela Rodríguez
Año de nacimiento 2001
Goles 6

<h2> Pilas: $stack$ </h2>

Las $pilas$ como las listas, se definen entre corchetes $[]$, tienen la cualidad de ser modificables y los datos que se agregan pueden ser repetibles. Hay que tomar en cuenta de las $pilas$ funcionan como una pila de platos: 

- $El\:último\:elemento\:en\:entrar,\:es\:el\:primer\:elemento\:en\:salir$

In [28]:
pila1 = [1,2,3, 'Rafa']
print(pila1)
print(type(pila1))

[1, 2, 3, 'Rafa']
<class 'list'>

In [29]:
# Apilar nuevos elementos y printar la nueva pila, se printan aunque estén repetidos
pila1.append(13)

In [30]:
pila1.append('Juanmix')

In [31]:
pila1.append(3)

In [32]:
print(pila1)

[1, 2, 3, 'Rafa', 13, 'Juanmix', 3]

In [33]:
# Al desapilar elementos estos se pierden para siempre. Se van desapilando elemento por elemento
pila1.pop()
print(pila1)

[1, 2, 3, 'Rafa', 13, 'Juanmix']

In [34]:
# Hasta aquí desapilamos los últimos dos elementos (3 y 'Juanmix')
pila1.pop()
print(pila1)

[1, 2, 3, 'Rafa', 13]

 <h2> Colas: $queue$ </h2>

Se debe tomar en cuenta que las $colas$ funcionan como una cola de supermercado.:

- $El\:primer\:elemento\:en\:entrar,\:es\:el\:primer\:elemento\:en\:salir$

In [1]:
# Para usar las "colas" debemos importar la siguiente librería
from collections import deque

In [18]:
# Las colas se crean de la siguiente forma
cola1 = deque()
print(cola1)
print(type(cola1))

deque([])
<class 'collections.deque'>

In [19]:
cola1 = deque(['Rafita', 'Juanmi', 'Chelito'])
print(cola1)

deque(['Rafita', 'Juanmi', 'Chelito'])

In [20]:
# Sacamos de la cola el último elemento
cola1.pop() 
print(cola1)

deque(['Rafita', 'Juanmi'])

In [21]:
cola1.pop() 
print(cola1)

deque(['Rafita'])

In [22]:
cola1.pop() 
print(cola1)

deque([])

In [23]:
cola1.append(10)

In [24]:
cola1.append('Radiohead')

In [25]:
cola1.append('Blur')

In [26]:
cola1.append(0.1416)

In [27]:
print(cola1)

deque([10, 'Radiohead', 'Blur', 0.1416])